/* Google Fonts -> Ubuntu */
* {
  font-family: 'Comfortaa', cursive;
}

/* MAIN */
body {
  background-color: #353535;
  color: #FFFFFF;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0%
  {
    --a: 0deg;
  }
  100%
  {
    --a: 360deg;
  }
}

.main {
  display: block;
  position: relative;
  border-radius: 10px;
  margin: 3rem auto 3rem auto;
  padding: 10px;
  max-width: 30%;
  background: repeating-conic-gradient(from var(--a), var(--clr1) 0%, var(--clr1) 5%, transparent 5%, transparent 40%, var(--clr1) 50%);
  animation: animate 2s linear infinite;
}

.main::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), var(--clr2) 0%, var(--clr2) 5%, transparent 5%, transparent 40%, var(--clr2) 50%);
  animation: animate 2s linear infinite;
  animation-delay: 0.5s;
  transition: 0.5;
}

.main::after {
  content: '';
  position: absolute;
  border-radius: 10px;
  inset: 2px;
  background: #4e4e4e;
}

.main h3 {
  position: relative;
  z-index: 10;
  color: #ba9ffb;
  margin: 0;
  text-align: center;
}

.main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main ul li {
  padding: 10px 0 0 10px;
}

.main ul li img {
  position: relative;
  max-width: 30px;
  max-height: 30px;
  z-index: 10;
}

.main ul li a {
  top: 2px;
  position: relative;
  color: #9171f8;
  padding-left: 5px;
  text-decoration: none;
  font-size: 15pt;
  z-index: 10;
  transition: all 1s;
}

.main ul li a:hover {
  padding-left: 10px;
  transition: all 1s;
}

/* ADAPTIVE */
@media only screen and (max-width: 1200px) {
  .main {
    max-width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .main {
    max-width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    max-width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    max-width: 80%;
  }
}

@media only screen and (max-width: 320px) {
  .main {
    max-width: 90%;
  }
}
